body {
	background: white;
}

.btn-group-register button{
	position: absolute;
	left: 335px;
	top: 590px;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}

.btn-group-update button{
	position: absolute;
	left: 560px;
	top: 470px;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}

.btn-group-update button:hover {
	background-color: yellow;
}

.btn-group-login button{
	position: absolute;
	left: 735px;
	top: 590px;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}

.btn-group-login2 button{
	position: absolute;
	left: 565px;
	top: 310px;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}
.btn-group-login2 button:hover {
	background-color: yellow;
}

.btn-logo button {
	border: none;
	background-color: white;

	left: 40%;
	position: absolute;
	top: 20px;
}

.alignRegister {
	position: absolute;
	top: 220px;
	left: 29%;
	font-size: 22px;
	line-height: 26px;

	align-items: center;
	justify-content: center;
	display: flex;

	width: 580px;
	height: 480px;

	background: #FFDAA2;
}

.alignLogin {
	position: absolute;
	top: 280px;
	left: 28%;
	font-size: 22px;
	line-height: 26px;

	align-items: center;
	justify-content: center;
	display: flex;

	width: 580px;
	height: 300px;

	background: #FFDAA2;
}

.alignInsertItem {
	position: absolute;
	top: 280px;
	left: 30%;
	font-size: 22px;
	line-height: 26px;

	align-items: center;
	justify-content: center;
	display: flex;

	width: 560px;
	height: 420px;

	background: #FFDAA2;
}

.btn-navbar button {
	position: relative;
	background-color: #FF8A00; /* Green background */
	border-style: solid;
	border-color: white;
	border-radius: 15%;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 22px;
	line-height: 26px;
	width: 220px;
	height: 55px;

	left: 17%;
	top: 100px;

	align-items: center;
	justify-content: center;
	display: flex;
}

.btn-navbar button:hover {
	background-color: yellow;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-register button:hover {
	background: yellow;
}

.btn-group-login button:hover {
	background: yellow;
}

.btn-logo button:hover {
	background: rgb(240, 241, 236);
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}

.homeImage {
	position: absolute;
	width: 579px;
	height: 143px;
	left: 360px;
	top: 1px;
}

.containerr {
	padding: 100px 540px;
}

.circle1 {
	position: absolute;

	width: 111px;
	height: 111px;
	line-height: 111px;
	left: 196px;
	top: 238px;
	border-radius: 50%;

	font-size: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: black;
	text-align: center;
	background: #FF8A00;
}

.rectangle1 {
	position: absolute;
	width: 378px;
	height: 254px;
	left: 49px;
	top: 298px;

	position: absolute;
	width: 378px;
	height: 254px;
	left: 49px;
	top: 298px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	color: black;
	background: #FFDAA2;
}

.circle2 {
	position: absolute;

	width: 111px;
	height: 111px;
	line-height: 111px;
	left: 587px;
	top: 238px;
	border-radius: 50%;

	font-size: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: black;
	text-align: center;
	background: #FF8A00;
}

.rectangle2 {
	position: absolute;
	width: 378px;
	height: 254px;
	left: 451px;
	top: 298px;
	
	position: absolute;
	width: 378px;
	height: 254px;
	left: 451px;
	top: 298px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	color: black;
	background: #FFDAA2;
}

.rectangle3 {
	position: absolute;
	width: 378px;
	height: 254px;
	left: 853px;
	top: 298px;

	position: absolute;
	width: 378px;
	height: 254px;
	left: 853px;
	top: 298px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	color: black;
	background: #FFDAA2;
}

.circle3 {
	position: absolute;

	width: 111px;
	height: 111px;
	line-height: 111px;
	left: 1001px;
	top: 238px;
	border-radius: 50%;

	font-size: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: black;
	text-align: center;
	background: #FF8A00;
}

.subtitle {
	position: absolute;
	width: 873px;
	height: 34px;
	left: 253px;
	top: 159px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 26px;

	color: #000000;
}

.registerText {
	position: absolute;
	width: 457px;
	height: 70px;
	left: 34%;
	top: 100px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 26px;

	color: black;
	background: #FFDAA2;
}

.loginText { 
	position: absolute;
	width: 457px;
	height: 70px;
	left: 447px;
	top: 170px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 26px;

	color: black;
	background: #FFDAA2;
}


.profileText {
	position: absolute;
	width: 460px;
	height: 70px;
	left: 34%;
	top: 170px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 26px;

	color: black;
	background: #FFDAA2
}

.itemListText {
	position: absolute;
	width: 460px;
	height: 70px;
	left: 34%;
	top: 170px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 26px;

	color: black;
	background: #FFDAA2;
}

.insertItemText {
	position: absolute;
	width: 460px;
	height: 70px;
	left: 34%;
	top: 170px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 26px;

	color: black;
	background: #FFDAA2;
}

.updateProfileText {
	position: absolute;
	width: 460px;
	height: 70px;
	left: 34%;
	top: 170px;

	text-align: center;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 26px;

	color: black;
	background: #FFDAA2;
}


.profileDesc {
	position: absolute;
	font-size: 26px;
	top: 38%;
	left: 40%;
}

.itemListDesc {
	position: absolute;
	font-size: 26px;
	top: 38.5%;
	left: 30%;
}

.insertItem input{
	position: absolute;
	left: 163px;
	top: 310px;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}

.insertItem input:hover {
	background-color: yellow;
}

.insertItem input{
	position: absolute;
	left: 163px;
	top: 310px;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}

.plusButton button{
	position: relative;
	background-color: #FF8A00;
	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 50px;
	height: 50px;

	top: 10px;
	left: 48%;
	border: none;
}

.plusButton button:hover {
	background-color: yellow;
}

.alimentoText {
	position: relative;
	width: 175px;
	height: 26px;
	top: -160px;
	left: -15%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 34px;

	color: #000000;
}

.dataValidadeText {
	position: relative;
	width: 280px;
	height: 26px;
	top: -100px;
	left: -15%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 34px;

	color: #000000;
}

.quantidadeText {
	position: relative;
	width: 280px;
	height: 26px;
	top: -40px;
	left: -15%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 34px;

	color: #000000;
}

.userText {
	position: relative;
	width: 175px;
	height: 26px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 56px;

	color: #000000;
}

.userText2 {
	position: absolute;
	width: 175px;
	height: 26px;
	left: 10%;
	top: 10px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;

	color: #000000;
}

.passwordText {
	position: relative;
	width: 175px;
	height: 26px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 56px;

	color: #000000;
}

.passwordText2 {
	position: absolute;
	width: 175px;
	height: 26px;
	top: 110px;
	left: 10%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;

	color: #000000;
}

.passwordText3 {
	position: absolute;
	width: 375px;
	height: 26px;
	top: 210px;
	left: 10%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;

	color: #000000;
}

.boxLogin {
	width: 805px;
	height: 400px;

	background: #FFDAA2;
}

.entrar input{
	position: absolute;
	border: none;
	width: 180px;
	height: 60px;
	left: 200px;
	top: 210px;

	font-size: 32px;

	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;

	background: #FF8A00;
}

.entrar input:hover{
	background-color: yellow;
}

.registrar input{
	position: absolute;
	border: none;
	width: 180px;
	height: 60px;
	left: 200px;
	top: 340px;

	font-size: 30px;

	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;

	background: #FF8A00;
}

.registrar input:hover{
	background-color: yellow;
}

.loginReminder {
	position: absolute;
	font-size: 26px;
	top: -35px;
}

.logoutReminder {
	position: relative;
	font-size: 32px;
	top: 150px;
	left: 32%;
}

.possuiContaReminder {
	position: absolute;
	font-size: 26px;
	top: 410px;	
}

.editButton button{
	position: absolute;
	left: 41.5%;
	top: 65%;

	background-color: #FF8A00; /* Green background */
	border: none;
	color: black; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

	font-family: Roboto;
	text-align: center;
	font-size: 30px;
	line-height: 26px;
	width: 240px;
	height: 60px;
}

.editButton button:hover {
	background-color: yellow;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

