{% extends 'base.html' %} {% block content %}

<div class="insertItemText"> INSERIR ALIMENTO</div>

<div class="alignInsertItem">
<form method="POST">
  {% csrf_token %}

  <div class="alimentoText">Alimento: <br> {{ form.nomealimento }}</div>
  <div class="dataValidadeText">Data de Validade: <br> {{ form.datavalidade }}</div>
  <div class="quantidadeText">Quantidade: <br> {{ form.quantidade }}</div>

  <div class="insertItem"><input type="submit" value="INSERIR" /></div>
</form>
</div>

{%endblock content%}