{% extends 'base.html' %} {% block content %}

<div class="itemListText"> LISTA DE ALIMENTOS</div>
<div class="itemListDesc"> Olá {{ request.user }}, estes são os alimentos em seu estoque!</div>

<br><br><br><br><br><br><br><br><br><br>
<div>
  <table border="1" class="table table-warning">
    <thead>
      <tr>
        <th>Alimento</th>
        <th>Quantidade</th>
        <th>Validade</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      {% for alimento in possui %}
      <tr>
        <td>{{ alimento.nomealimento_id }}</td>
        <td>{{ alimento.quantidade }}</td>
        <td>{{ alimento.datavalidade }}</td>
        <td><a href="{% url 'delete' alimento.id %}">Delete</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="plusButton">
  <form action="/insert" method="GET">
    <button>+</button>
  </form>
</div>

{%endblock content%}
