{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>wiseCook: Registre-se!</title>
  </head>
  <body>
    <div class="btn-logo">
      <form action="{% url 'feed' %}" method="GET">
        <button>
          <img src="{% static 'img/wiseLogo_small.png' %}" alt="Logo" />
        </button>
      </form>
    </div>
    <br /><br />
    <div class="registerText">REGISTRE-SE</div>
    <div class="alignRegister">
      <form method="POST">
        {% csrf_token %}

        <div class="userText2">USUÁRIO: {{ form.username }}</div>
        <div class="passwordText2">SENHA: {{ form.password1 }}</div>
        <div class="passwordText3">CONFIRME A SENHA: {{ form.password2 }}</div>

        <div class="registrar"><input type="submit" value="REGISTRAR" /></div>
      </form>
      <div class="possuiContaReminder">
        <a href="{% url 'login'%}">Já possui uma conta? Faça seu login!</a>
      </div>
    </div>
  </body>
</html>
