{% extends 'base.html' %} 
{% block content %}

<div class="loginText">LOGIN</div>

<div class="alignLogin">
    {% if form.erros %}
    <p>There's something wrong with what you entered</p>
    {% endif %}

    {% if next %}
    <div class="loginReminder">Faça seu login para ter acesso!</div>
    {% endif %}


    <form method='POST' action={% url 'login' %}>
        {% csrf_token %}

        <div class="userText">USUÁRIO:</div> <br> {{ form.username }}
        <div class="passwordText">SENHA:</div> <br> {{ form.password }}</p>
        
        <div class="entrar"><input type='submit' value = 'ENTRAR'><br><br><br></div>
        <p><input type='hidden' name='next' value='{{ next }}'></p>
        
    </form>
</div>

{%endblock content%}
